<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sk chat app</title>
    <script defer src="http://localhost:8000/socket.io/socket.io.js"></script>
    <script defer src="js/client.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" media="screen and (max-width:700px)" href="css/phone.css">

    
    
</head>

<body>
    {{>navbar}}
    <div class="containerchat">
        <figure>
            <img src="images/chat.png" alt="error" class="imgicon" title="suneet tech">
        </figure>
        <div class="chatapp">
            {{!-- <div class="message right"> hey rohan </div>
            <div class="message left"> hey suneet</div> --}}
            

            

        </div>
        <div class="send">
            <form action="#" id="sendcontainer">
                <input type="text" name="messageInp" id="messageInp">
                <button class="btnchat" type="submit">send</button>
            </form>
        </div>
    </div>

    {{>footer}}
</body>

</html>